<jsv-header>
	<button-header-left></button-header-left>
       Entrar
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">                 

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo vamos-entrar" style="text-align: center;">

                         <p>
                           <img src="images/logo.jpg" alt="ELETRONOVA ENGENHARIA">
                         </p>
                         <p>
                           <a href="javascript:void(0)" class="btn btn-primary" title="Entrar no Aplicativo" onclick="vamosEntrar();">
                              Entrar
                           </a>
                         </p>

                    </div>
                  </div>
                  <!-- CONTEÚDO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>
