<jsv-header>
	<button-header-left></button-header-left>
       Login
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-7 voltar-login">
                           <a href="javascript:void(0)" onclick="$JSView.goToView('viewLogin');" title="Voltar para o login">
                              <img src="images/voltar-rocho.svg" alt="Voltar para o login">
                           </a>
                        </div>
                        <div class="col-5 no-padding logo-principal logo-principal-apenas" style="text-align: right;">
                           <img src="images/icone-transparent.png" alt="ELETRONOVA ENGENHARIA logo">
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo">
                       
                           <!-- LOGIN -->
                           <div class="login">
                             
                             <h2>RESET DE SENHA</h2>

                             <div class="form-group inputs-combo">
                                <span class="form-control-feedback">
                                  <img src="images/input-login.svg" alt="Usuário">
                                </span>
                                <input type="text" class="form-control" name="usuario" id="loginUsuarioEmailReset" placeholder="Usuário ou e-mail cadastrado" autocomplete="new-text">
                             </div>                             

                             <div class="form-group" style="margin-top: 20px;">
                               <button type="button" class="btn btn-primary" id="esqueciSenha" onclick="procEsqueciSenha()">RESETAR SENHA</button>
                             </div>

                             <div class="col-12 no-padding esqueci-senha">
                                 <a href="javascript:void(0)" onclick="$JSView.goToView('viewLogin');" title="cancelar">cancelar</a>
                             </div>
                            

                           </div>
                           <!-- LOGIN -->
                     

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                                    
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>