<jsv-header>
	<button-header-left></button-header-left>
       Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-12 no-padding logo-principal">
                           <img src="images/logo.png" alt="BealtyConnect logo">
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo">
                       

                       <!-- CAIXA BRANCA -->
                       <div class="caixa-branca">
                         <p>Aqui dentro algum conteúdo de texto simples, para mostrar como fica a visualização de textos maiores nessas caixas brancas</p>
                       </div>
                       <!-- CAIXA BRANCA -->

                       <!-- CAIXA BRANCA -->
                       <div class="caixa-branca">
                          
                          <h1>Eu sou um header 1</h1>
                          <p>Aqui dentro algum conteúdo de texto simples</p>

                          <h2>Eu sou um header 2</h2>
                          <p>Aqui dentro algum conteúdo de texto simples</p>

                          <h3>Eu sou um header 3</h3>
                          <p>Aqui dentro algum conteúdo de texto simples</p>

                          <h4>Eu sou um header 4</h4>
                          <p>Aqui dentro algum conteúdo de texto simples</p>

                          <h5>Eu sou um header 5</h5>
                          <p>Aqui dentro algum conteúdo de texto simples</p>

                       </div>
                       <!-- CAIXA BRANCA -->

                      <!-- CAIXA BRANCA -->
                      <div class="caixa-branca">
                         
                         <p>
                           <button type="button" class="btn btn-success" onclick="aviso();">BOTÃO DE CONFIRMAÇÃO</button>
                         </p>

                         <p>
                           <button type="button" class="btn btn-primary" onclick="$JSView.goToView('viewPadroesInterface');">BOTÃO NEUTRO</button>
                         </p>

                         <p>
                           <button type="button" class="btn btn-default">BOTÃO OPACO</button>
                         </p>

                         <p>
                           <button type="button" class="btn btn-secondary">BOTÃO MENOS DESTAQUE</button>
                         </p>

                         <p>
                           <button type="button" class="btn btn-carnaval">BOTÃO CHAMARIS</button>
                         </p>

                      </div>
                      <!-- CAIXA BRANCA -->




                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                                    
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>