<jsv-header>
	<button-header-left></button-header-left>
       Padrões de Interface
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <!-- LINK PERFIL -->
                        <div class="col-5 no-padding logo-principal header-perfil">
                           <a href="#" title="Clique para ver o perfil">
                             <img src="images/foto-perfil.png" alt="Clique para ver o perfil">
                           </a>
                           <img src="images/logo-simples.png" alt="BealtyConnect logo">
                        </div>
                        <!-- LINK PERFIL -->
                        <!-- HEADERS LINKS -->
                        <div class="col-7 no-padding header-links">
                             
                            <a href="#" title="Aqui o nome desse action">
                               <img src="images/header-perfil.png" alt="" />
                            </a>

                            <a href="#" title="Aqui o nome desse action">
                               <img src="images/header-mensagens.png" alt="" />
                            </a>

                            <a href="#" title="Aqui o nome desse action">
                               <img src="images/header-notificacao.png" alt="" style="width: 22px !important;height: auto;" />
                               <span>1</span>
                            </a> 

                        </div>
                        <!-- HEADERS LINKS -->
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                 

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                   
                    
                     <!-- BUSCA HEADER -->
                     <div class="busca-header">
                          <div class="container">
                             <div class="row">
                                <div class="col-12 no-padding">
                                       
                                       <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <i class="fa fa-search" aria-hidden="true"></i>
                                            </span>
                                          </div>
                                          <input type="text" class="form-control" placeholder="Pesquisar">
                                       </div>

                                </div>
                             </div>
                          </div>
                      </div>
                      <!-- BUSCA HEADER -->


                    <div class="container conteudo">
                 
                       <!-- CAIXA BRANCA -->
                       <div class="caixa-branca">
                         
                         <!-- META HEADER -->
                         <div class="caixa-branca-header">
                            <div class="row">
                               <div class="col-9 coluna-um no-padding">
                                  <div class="row">
                                     <div class="col-3 foto-perfil no-padding">
                                         <div class="caixa-foto-perfil" style="background: url('images/foto-perfil.png') #ccc no-repeat;background-size: cover;background-position: center center;">
                                            <a href="#" title="Ver perfil">
                                               &nbsp;
                                            </a>
                                         </div>
                                     </div>
                                     <div class="col-9 nome-perfil">
                                        <h4>Perfil Free <br><small>1h atrás</small></h4>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-3 coluna-dois no-padding">
                                   <a href="javascript:void(0)" title="Mais opções">
                                      <img src="images/indicador-de-acoes.png" alt="Mais opções sobre o perfil">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META HEADER -->

                         <p>
                            Aqui dentro algum conteúdo de texto simples, para mostrar como fica a visualização de textos maiores nessas caixas brancas
                         </p>
                         <p>
                           <a href="#" title="Clique para ver mais sobre essa postagem">
                              <img src="images/foto-feed.png" alt="Foto de perfil">
                           </a>
                         </p>
                         
                         <!-- META BOTTOM -->
                         <div class="caixa-branca-bottom">
                            <div class="row">
                               <div class="col-6 no-padding">
                                  <div class="row">
                                     <div class="col-6 no-padding coluna-um">
                                        <a href="javascript:void(0)" title="Curtir">
                                           <img src="images/coracao.png" alt="Curtir">
                                        </a>
                                        <span>609</span>
                                     </div>
                                     <div class="col-6 no-padding coluna-dois">
                                        <a href="javascript:void(0)" title="Comentários">
                                           <img src="images/comentarios.png" alt="Comentários"> 120
                                        </a>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-6 no-padding coluna-tres">
                                   <a href="javascript:void(0)" title="Compartilhar essa postagem">
                                     Compartilhar <img src="images/compartilhamento.png" alt="Compartilhar essa postagem">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META BOTTOM -->

                       </div>
                       <!-- CAIXA BRANCA -->





                       <!-- CAIXA BRANCA -->
                       <div class="caixa-branca">
                         
                         <!-- META HEADER -->
                         <div class="caixa-branca-header">
                            <div class="row">
                               <div class="col-9 coluna-um no-padding">
                                  <div class="row">
                                     <div class="col-3 foto-perfil no-padding">
                                         <div class="caixa-foto-perfil caixa-foto-perfil-premium" style="background: url('images/foto-perfil.png') #ccc no-repeat;background-size: cover;background-position: center center;">
                                            <a href="#" title="Ver perfil">
                                               &nbsp;
                                            </a>
                                            <img src="images/premium-foto.png" alt="Perfil Premium">
                                         </div>
                                     </div>
                                     <div class="col-9 nome-perfil">
                                        <h4>Perfil Premium <br><small>1h atrás</small></h4>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-3 coluna-dois no-padding">
                                   <a href="javascript:void(0)" title="Mais opções">
                                      <img src="images/indicador-de-acoes.png" alt="Mais opções sobre o perfil">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META HEADER -->

                         <p>
                            Aqui dentro algum conteúdo de texto simples, para mostrar como fica a visualização de textos maiores nessas caixas brancas
                         </p>
                         <p>
                           <a href="#" title="Clique para ver mais sobre essa postagem">
                              <img src="images/foto-feed.png" alt="Foto de perfil">
                           </a>
                         </p>
                         
                         <!-- META BOTTOM -->
                         <div class="caixa-branca-bottom">
                            <div class="row">
                               <div class="col-6 no-padding">
                                  <div class="row">
                                     <div class="col-6 no-padding coluna-um">
                                        <a href="javascript:void(0)" title="Curtir">
                                           <img src="images/coracao.png" alt="Curtir">
                                        </a>
                                        <span>609</span>
                                     </div>
                                     <div class="col-6 no-padding coluna-dois">
                                        <a href="javascript:void(0)" title="Comentários">
                                           <img src="images/comentarios.png" alt="Comentários"> 120
                                        </a>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-6 no-padding coluna-tres">
                                   <a href="javascript:void(0)" title="Compartilhar essa postagem">
                                     Compartilhar <img src="images/compartilhamento.png" alt="Compartilhar essa postagem">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META BOTTOM -->

                       </div>
                       <!-- CAIXA BRANCA -->






                       <!-- CAIXA BRANCA -->
                       <div class="caixa-branca">
                         
                         <!-- META HEADER -->
                         <div class="caixa-branca-header">
                            <div class="row">
                               <div class="col-9 coluna-um no-padding">
                                  <div class="row">
                                     <div class="col-3 foto-perfil no-padding">
                                         <div class="caixa-foto-perfil caixa-foto-perfil-company" style="background: url('images/logo empresa.png') #ccc no-repeat;background-size: cover;background-position: center center;">
                                            <a href="#" title="Ver perfil">
                                               &nbsp;
                                            </a>
                                            <img src="images/company-foto.png" alt="Perfil Premium">
                                         </div>
                                     </div>
                                     <div class="col-9 nome-perfil">
                                        <h4>Perfil Company <br><small>1h atrás</small></h4>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-3 coluna-dois no-padding">
                                   <a href="javascript:void(0)" title="Mais opções">
                                      <img src="images/indicador-de-acoes.png" alt="Mais opções sobre o perfil">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META HEADER -->

                         <p>
                            Aqui dentro algum conteúdo de texto simples, para mostrar como fica a visualização de textos maiores nessas caixas brancas
                         </p>
                         <p>
                           <a href="#" title="Clique para ver mais sobre essa postagem">
                              <img src="images/foto-feed.png" alt="Foto de perfil">
                           </a>
                         </p>
                         
                         <!-- META BOTTOM -->
                         <div class="caixa-branca-bottom">
                            <div class="row">
                               <div class="col-6 no-padding">
                                  <div class="row">
                                     <div class="col-6 no-padding coluna-um">
                                        <a href="javascript:void(0)" title="Curtir">
                                           <img src="images/coracao.png" alt="Curtir">
                                        </a>
                                        <span>609</span>
                                     </div>
                                     <div class="col-6 no-padding coluna-dois">
                                        <a href="javascript:void(0)" title="Comentários">
                                           <img src="images/comentarios.png" alt="Comentários"> 120
                                        </a>
                                     </div>
                                  </div>
                               </div>
                               <div class="col-6 no-padding coluna-tres">
                                   <a href="javascript:void(0)" title="Compartilhar essa postagem">
                                     Compartilhar <img src="images/compartilhamento.png" alt="Compartilhar essa postagem">
                                   </a>
                               </div>
                            </div>
                         </div>
                         <!-- META BOTTOM -->

                       </div>
                       <!-- CAIXA BRANCA -->

                       




                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                                    
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>