<jsv-header>
	<button-header-left></button-header-left>
       Voltar
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>

            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-3 no-padding logo-principal logo-principal-apenas imagem-voltar" onclick="baseFormulario();">
                           <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="col-6 text-center">
                           Criar novo
                        </div>
                        <div class="col-3 no-padding header-icones meus-pedidos">                          
                            <a href="javascript:void(0)" onclick="abrirFecharMenuLoja();" title="Abrir menu">
                              <i class="fa fa-bars" aria-hidden="true"></i>
                            </a>
                            <a href="javascript:void(0)" onclick="logoff();" title="Sair do aplicativo (trocar de usuário)">
                              <img src="images/sair.svg" alt="Sair do aplicativo (trocar de usuário)">
                            </a>                          
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo conteudo-works">
                         
                         <!-- QUE DIA É HOJE? -->
                         <h3 class="titulo-data">
                            <img src="images/logo-cinza.jpg" alt="ELETRONOVA ENGENHARIA">
                         </h3>
                         <!-- QUE DIA É HOJE? -->

                        <!-- FORM -->
                        <div class="form">

                            <div class="form-group">
                              <label>Observações</label>
                              <textarea class="form-control" rows="4" placeholder="Digite nesse campo"></textarea>
                            </div>
                            
                            <div class="caixa-fotos">
                                 <div class="row">
                                     
                                     <div class="col">
                                        <a href="javascript:void(0)">
                                           <img src="images/camera.svg" alt="Usar a camera"><br clear="both">
                                           Camera
                                        </a>
                                     </div>

                                     <div class="col">
                                        <a href="javascript:void(0)">
                                           <img src="images/lib.svg" alt="Usar imagens da biblioteca"><br clear="both">
                                           Biblioteca
                                        </a>
                                     </div>

                                 </div>                              
                            </div>

                            <div class="caixas-legendas">
                               <div class="row">
                                   <div class="col-3">
                                      <div class="thumbnail-obra-detalhe" style="background:url('images/obra.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         &nbsp;
                                      </div>
                                   </div>
                                   <div class="col-9">
                                      <div class="form-group">
                                         <label>Legenda da imagem</label>
                                         <input type="text" class="form-control" placeholder="Escreva uma legenda sobre a imagem">
                                      </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-3">
                                      <div class="thumbnail-obra-detalhe" style="background:url('images/obra.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         &nbsp;
                                      </div>
                                   </div>
                                   <div class="col-9">
                                      <div class="form-group">
                                         <label>Legenda da imagem</label>
                                         <input type="text" class="form-control" placeholder="Escreva uma legenda sobre a imagem">
                                      </div>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-3">
                                      <div class="thumbnail-obra-detalhe" style="background:url('images/obra.jpg') #f2f2f2 no-repeat;background-size: cover;background-position: center center;">
                                         &nbsp;
                                      </div>
                                   </div>
                                   <div class="col-9">
                                      <div class="form-group">
                                         <label>Legenda da imagem</label>
                                         <input type="text" class="form-control" placeholder="Escreva uma legenda sobre a imagem">
                                      </div>
                                   </div>
                               </div>
                            </div>



                        </div>
                        <!-- FORM -->

                         <p>
                           <a href="javascript:void(0)" title="Próximo passo" onclick="proximoPasso();" class="btn btn-default">
                              Próximo passo
                           </a>
                         </p>

                    </div>
                  </div>
                  <!-- CONTEÚDO -->

              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

            </div>
            <!-- PAGE CONTENT FIM -->

</jsv-content>