<jsv-header>
	<button-header-left></button-header-left>
       Início
    <button-header-right></button-header-right>
</jsv-header>
<jsv-content>
   
            <!-- PAGE CONTENT FIM -->
            <div class="page-content">

                  <!-- HEADER -->
                  <header>
                    <div class="container">
                      <div class="row">
                        <div class="col-5 no-padding logo-principal">
                           <img src="images/logo.png" alt="BealtyConnect logo">
                        </div>
                      </div>
                    </div>
                  </header>
                  <!-- HEADER -->

                  <!-- CONTEÚDO -->
                  <div class="corpo-comum">
                    <div class="container conteudo">
                       

                     

                    </div>
                  </div>
                  <!-- CONTEÚDO -->
                                    
              
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">
              <br clear="both">

              
               
            </div>
            <!-- PAGE CONTENT FIM -->
    
</jsv-content>